<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableDownloaderService</key>
	<false/>
	<key>SUEnableInstallerConnectionService</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableInstallerStatusService</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/yanun0323/Turtle/raw/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/d7mdV3LM4XbvBZ6VuQkR7yMB6Xeod9QehUzsgjhjlg=</string>
</dict>
</plist>
